@import "./variables", "./mixins";
.card {
  @include flex(center, center, column, 0);
  padding: 16px;
  margin: 0 auto;

  @include layout(light) {
    color: $font-color;
  }

  @include layout(dark){
    color: $font-color-dark;
  }

  @include media-query(sm) {
    padding: 16px 0;
  }
}
