@import "./variables", "./mixins";
.card {
  @include flex(center, center, column, 0);
  padding: 2rem;
  margin: 0 auto;

  html[data-theme="light"] & {
    color: $font-color;
  }

  html[data-theme="dark"] & {
    color: $font-color-dark;
  }
}
