@mixin flex($align, $justify, $direction, $gap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  gap: $gap
}

@mixin size($height, $width) {
  height: $height;
  width: $width;
}

@mixin container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  padding: 0 1rem;

  @include media-query(sm) {
    max-width: 425px;
  }

  @include media-query(md) {
    max-width: 768px;
  }

}

@mixin layout($mode) {

  @if $mode == light {
    html[data-theme="light"] {
      @content
    }
  }

  @if $mode == dark {
    html[data-theme="dark"] {
      @content
    }
  }
}

@mixin media-query($media) {

  @if $media == sm {
    @media (max-width: 735px) {
      @content
    }
  }

  @if $media == md {
    @media (min-width: 736px) and (max-width: 991px) {
      @content
    }
  }

  @if $media == lg {
    @media (min-width: 992px) {
      @content
    }
  }
}

@mixin component-transition {
  .v-enter-active,
  .v-leave-active {
    transition: opacity 0.2s ease;
  }

  .v-enter-from,
  .v-leave-to {
    opacity: 0;
  }
}