$primary: #34495E;
$secondary: #141E61;
$info: #787A91;
$link: #EEEEEE;

$font-family: 'Inter';

$breakpoint-xs: 320px;
$breakpoint-sm: 475px;
$breakpoint-md: 768px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1440px;
