// Main Font
$font-family: 'Inter';

// Main Colors
$primary: #34495E;
$secondary: #141E61;
$info: #787A91;
$link: #EEEEEE;

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

// Transition
$transition: all 0.3s ease;